{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ title }} {% endblock %}
{% block content %}
<div class="container my-5">
	<div class="row justify-content-md-center"> 
		<div class="col-sm col-md-6">
			<div class="card">
				<div class="card-header">
					<h2 class="text-center">{{ title|upper }}</h2>
				</div>
				<dir class="card-body">
					<form method="post">
						{% csrf_token %}
						{{ form | crispy }}
						<div class="centerD">
							<button class="btn btn-success" type="submit"> LOGIN  </button>
						</div>
					</form>
				</dir>
			</div>
		</div>
	</div>
</div>
{% endblock %}