{% extends "base.html" %}
{% load staticfiles %}
{% block title %}All Application {% endblock %}
{% block content %}
<div class="container">
    <div class="myCard my-3">
        <div class="float-right mb-3">
            <button class="btn btn-primary" onclick="exportThis()">
                <img src="/media/img/csv.png" height="30px"> Export To Excel
            </button>
        </div>
        <div class="table-responsive">
            <table id="table" class="table table-bordered">
                <thead>
                    <tr class="capitalize text-center">
                        <th rowspan="2">Reg. No</th>
                        <th colspan="4">Apply For</th>
                        <th colspan="8">Applicant Persional Details</th>
                        <th colspan="4">high school details</th>
                        <th colspan="7">Intermediate details</th>
                        <th colspan="5">UG or Diploma details</th>
                        <th colspan="3">upsee details </th>
                    </tr>
                    <tr class="capitalize">
                        <!-- Application for -->
                        <th scope="col">Course</th>
                        <th scope="col">Year</th>
                        <th scope="col">Cat.</th>
                        <th class="min" scope="col">Apply Date,Time</th>

                        <!-- persional detail -->
                        <th class="min" scope="col">Applicant Image</th>
                        <th class="min" scope="col">Name of Applicant</th>
                        <th class="min" scope="col">Father's name</th>
                        <th class="min" scope="col">Mobile No.</th>
                        <th class="min" scope="col">email</th>
                        <th class="min" scope="col">Aadhar No</th>
                        <th class="min" scope="col">Date of Birth</th>
                        <th scope="col">Guardian Income</th>

                        <!-- high school details -->
                        <th scope="col">Passing Year</th>
                        <th scope="col">Roll No</th>
                        <th scope="col">Board</th>
                        <th scope="col">Percentage Marks</th>

                        <!-- Intermediate details model -->
                        <th scope="col">Passing Year</th>
                        <th scope="col">Roll No</th>
                        <th scope="col">Board</th>
                        <th scope="col">Percentage Marks</th>
                        <th scope="col">Math</th>
                        <th scope="col">Physics</th>
                        <th scope="col">Chemistry</th>
                        <!-- UG or Diploma details fields -->

                        <th scope="col">Passing Year</th>
                        <th scope="col">Roll No</th>
                        <th scope="col">Board or Univer</th>
                        <th scope="col">UG or Diplom Branch</th>
                        <th scope="col">Percentage Marks</th>

                        <!-- upsee details fields -->
                        <th scope="col">Roll No</th>
                        <th scope="col">Rank</th>
                        <th scope="col">Category Rank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for instance in instances %}
                    <tr>
                        <td>{{ instance.registrationNo }}</td>

                        <!-- Application for -->
                        <td scope="col">{{ instance.course }}</td>
                        <td scope="col">{{ instance.applyYear }}</td>
                        <td scope="col">{{ instance.category }}</td>
                        <td scope="col">{{ instance.timeStamp }}</td>

                        <!-- pername details -->
                        <td>
                            <a target="_top" href="{% url 'admission:application' instance.id %}">
                                <img src="{{ instance.image.url }}" class="img-fluid"/>
                            </a>
                        </td>
                        <td>{{ instance.name }}</td>
                        <td>{{ instance.fatherName }}</td>
                        <td>{{ instance.mobileNo }}</td>
                        <td>{{ instance.email }}</td>
                        <td>{{ instance.aadharNo }}</td>
                        <td>{{ instance.dob | date:"d M Y" }}</td>
                        <td>{{ instance.guardianIncome }}</td>

                        <!-- high school details -->
                        <td>{{ instance.hs.highSchoolPassingYear }}</td>
                        <td>{{ instance.hs.highSchoolRollNo }}</td>
                        <td>{{ instance.hs.highSchoolBoard }}</td>
                        <td>{{ instance.hs.highSchoolPercentageMarks }}</td>

                        <!-- Intermediate details -->
                        <td>{{ instance.inter.intermediatePassingYear }}</td>
                        <td>{{ instance.inter.intermediateRollNo }}</td>
                        <td>{{ instance.inter.intermediateBoard }}</td>
                        <td>{{ instance.inter.intermediatePercentageMarks }}</td>
                        <td>{{ instance.inter.pcm.math }}</td>
                        <td>{{ instance.inter.pcm.physics }}</td>
                        <td>{{ instance.inter.pcm.chemistry }}</td>

                        <!-- UG or Diploma details -->
                        <td>{{ instance.ug.ugOrDiplompassingYear }}</td>
                        <td>{{ instance.ug.ugOrDiplomRollNo }}</td>
                        <td>{{ instance.ug.ugOrDiplomBoard }}</td>
                        <td>{{ instance.ug.ugOrDiplomBranch }}</td>
                        <td>{{ instance.ug.ugOrDiplomPercentageMarks }}</td>

                        <!-- upsee details -->
                        <td>{{ instance.upsee.upseeRollNo }}</td>
                        <td>{{ instance.upsee.rank }}</td>
                        <td>{{ instance.upsee.catRank }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
var exportThis = (function () {  
            var uri = 'data:application/vnd.ms-excel;base64,',   
template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel"  xmlns="http://www.w3.org/TR/REC-html40"><head> <!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets> <x:ExcelWorksheet><x:Name>{worksheet}</x:Name> <x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions> </x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook> </xml><![endif]--></head><body> <table>{table}</table></body></html>',  
                base64 = function (s) {  
                    return window.btoa(unescape(encodeURIComponent(s)))  
                },  
                format = function (s, c) {  
                    return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })  
                }  
            return function () {  
                var ctx = { worksheet: 'Multi Level Export Table Example' || 'Worksheet', table: document.getElementById("table").innerHTML }  
                window.location.href = uri + base64(format(template, ctx))  
            }  
        })()  
</script>
{% endblock %}