{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/media/img/fgiet.png" sizes="60x55" type="image/png">
    <title>{% block title %}{% endblock %} | Fgiet Admissoin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <style type="text/css" media="print">
        .footer,
        #print,
        .no-print {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg border-bottom navbar-light">
        <a class="navbar-brand" href="/">
            <img src="/media/img/fgiet.png" width="40" height="38" class="d-inline-block" alt="fgiet"> Admission Cell
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://fgiet.ac.in/">about us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://fgiet.ac.in/?page_id=173">contact us</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:table' %}">{{ request.user.username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:logout' %}">logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account:login' %}">login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="my-4">
        {% block content %} {% endblock %}
    </div>
    <br/>
    <footer class="footer border-top pt-4">
        <div class="centerD">
            <p class="text-center">
                <b>© Copyright 2018 FGIET - All Rights Reserved</b>
            </p>
            <p class="text-center">
                <b>This website developed by Computer Science and Engg department</b>
            </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block js %} {% endblock %}
</body>

</html>