{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load my_filters %}
{% block title %}{{ title  }}{% endblock %}
{% block content %}
<div class="container">
    <div class="myCard mb-3 rounded">
        <div class="center border rounded">
            <img class="d-none pt-1 mx-auto d-md-block img-fluid" src="/media/img/logo.png" alt="fgiet logo"/>
            <p class="mt-1 text-success text-center"><b >APPLICATION FORM ( session : 2020-2021 )</b></p>
        </div>
    </div>
    <div class="myCard rounded">
        <form class="text-primary" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Applicant persional details -->
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>Personal Details</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in candidateForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }} 
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>

            <!-- Appicant High School details -->
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>High School details</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in highSchoolForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }} 
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>

            {% if not type|is_deploma %}
            <!-- Appicant inter mediate details -->
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>Intermediate Details<small class="text-primary"> ( optional for diploma applicant )</small></b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in intermediateForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }} 
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        {% if not type|is_mca %}
                            {% for field in pcmForm.visible_fields %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                    {{ field | add_class:'form-control' }} 
                                    <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                    {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div> 
                </div>
            </div>
            {% endif %}
            {% if not type|is_first_year %}
            <!-- Appicant inter ug / diploma details -->
            <div id ="ug" class="card mb-4">
                <div class="card-header uppercase">
                    <b>Enter your ug/diploma details<small>
                         (If your final result is not announced then you fill last two-year average Details.)
                    </small></b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in ugOrDiplomaForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }}
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            {% endif %}

            <!-- Appicant Branch Preference -->
            {% if not type|is_mca %}
            <div id="branch" class="card mb-4">
                <div class="card-header uppercase">
                    <b>Branch Preference</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in branchFrom.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }}
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            {% endif %}

            <!-- Appicant upsee details -->
            <div class="container mb-2">
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="upsee_is"> Are you appear in the upsee examination ?
                    </label>
                </div>
            </div>
            <div class="card mb-4" id="upsee_div">
                <div class="card-header uppercase">
                    <b>Upsee Details</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in upseeForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }}
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            
            <div class="centerD pb-4">
                <button class="btn btn-success font-weight-bold px-4" id="form_submit" type="submit"> Submit Form </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
    $(function() {
        $( "#id_dob" ).datepicker({
            dateFormat : 'mm/dd/yy',
            defaultDate:'09/21/2000',
            changeMonth : true,
            changeYear : true,
            yearRange: '-40y:c+nn',
            maxDate: '-8y'
        });
    });
    $("document").ready(function(){
        $("#upsee_div").hide()
        $("#upsee_is").change(function(){
            if($(this).is(":checked")) {
                $("#upsee_div").show(250)
                $("#id_upseeRollNo").prop('required',true);
                $("#id_rank").prop('required',true)
            }
            else{
                $("#upsee_div").hide(250)
                $("#id_upseeRollNo").prop('required',false);
                $("#id_rank").prop('required',false)
            }
        })
    })
</script>
<script>
    var year="{{ type.year }}";
    var course = "{{ type.course }}";
</script>
<script src="{% static '/js/form.js' %}" type="text/javascript"></script>
{% endblock %}
