{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load my_filters %}
{% block title %}{{ title  }}{% endblock %}
{% block content %}
<div class="container">
    <div class="myCard mb-3">
        <div class="center border rounded">
            <img class="d-none pt-1 mx-auto d-md-block img-fluid" src="/media/img/logo.png" alt="fgiet logo"/>
            <p class="mt-1 text-success text-center"><b >APPLICATION FORM ( session : 2018-2019 )</b></p>
        </div>
    </div>
    <div class="myCard">
        <form class="text-primary" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Applicant persional details -->
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>Enter your Persional Details</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in candidateForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }} 
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>

            <!-- Appicant High School details -->
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>Enter your High School details</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in highSchoolForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }} 
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>

            {% if not type|is_deploma %}
            <!-- Appicant inter mediate details -->
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>Enter you inter mediate details<small class="text-primary"> ( optional for diploma applicant )</small></b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in intermediateForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }} 
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        {% if not type|is_mca %}
                            {% for field in pcmForm.visible_fields %}
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                    {{ field | add_class:'form-control' }} 
                                    <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                    {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div> 
                </div>
            </div>
            {% endif %}
            {% if not type|is_first_year %}
            <!-- Appicant inter ug / diploma details -->
            <div id ="ug" class="card mb-4">
                <div class="card-header uppercase">
                    <b>Enter your ug/diploma details<small>
                         (If your final result is not announced then you fill last two-year average Details.)
                    </small></b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in ugOrDiplomaForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }}
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            {% endif %}

            <!-- Appicant Branch Preferances -->
            {% if not type|is_mca %}
            <div id="branch" class="card mb-4">
                <div class="card-header uppercase">
                    <b>Your Branch Preferances</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in branchFrom.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }}
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            {% endif %}

            <!-- Appicant upsee details -->
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>Appicant upsee details</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in upseeForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }}
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div> 
                </div>
            </div>
            
            <div class="centerD pb-4">
                <button class="btn btn-success" id="form_submit" type="submit"> Submit Form </button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="form_model" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
<script>
    $('.datepicker').datepicker({
        uiLibrary: 'bootstrap4',
        endDate:'0d'
    });
</script>
<script>
    var year="{{ type.year }}";
    var course = "{{ type.course }}";
</script>
<script src="{% static '/js/form.js' %}" type="text/javascript"></script>
{% endblock %}
