{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %}{{ title  }}{% endblock %}
{% block content %}
<div class="container">
    <div class="myCard mb-3 rounded">
        <div class=" border rounded">
            <div class="centerD">
                <img class="pt-1 mx-auto img-fluid" src="/media/img/logo.png" alt="fgiet logo"/>
                <p></p>
            </div>
        </div>
    </div>
    <div class="myCard rounded">
        <div class="card mb-4">
            <div class="card-body">
                <div class="showdown">
                {{ siteContent|safe }}
                </div>
            </div>
        </div>
        <form id ="form_i" class="text-primary" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card mb-4">
                <div class="card-header uppercase">
                    <b>Select apply year and course</b>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for field in homeForm.visible_fields %}
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label | title }}</label>
                                {{ field | add_class:'form-control' }}
                                <small for="{{ field.id_for_help_text }}" class="form-text text-muted">{{ field.help_text }}</small>
                                {% for error in field.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="centerD pb-4">
                <button class="btn btn-success px-5 font-weight-bold" type="submit"> Next</button>
            </div>
        </form>
        <div id="apply_btn" class="centerD pb-4">
            <button class="btn btn-success px-4 font-weight-bold" type="submit"> Apply Now </button>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $("document").ready(function(){
        $("#apply_btn").click(function(){
            $("#apply_btn").hide(500);
            $("#form_i").show(1000);
        });
    })
</script>
{% endblock %}
