{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ instance.name|title }} Print Form{% endblock %}
{% block content %}
<div class="container">
    {% if instance.applicant %}
    <div id ="alert" class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>you are successfully submit yor form futher informtion send on email.</p>
    </div>
    {% endif %}
    <div class="myCard mb-3">
        <div class="center border rounded">
            <img class="d-none pt-1 mx-auto d-md-block img-fluid" src="/media/img/logo.png" alt="fgiet logo"/>
            <p class="mt-1 text-success text-center"><b>APPLICATION FORM DETAILS ( session : 2018-2019 )</b></p>
        </div>
    </div>
    <div class="myCard">
        <div class="float-right mb-3">
            <button id="print" class="btn btn-primary">
                <img height="30" src="/media/img/printer.png" />
                Print Application
            </button>
        </div>
        <div class="table-responsive" id ="content">
            <table class="table table-bordered">
                <tr>
                    <th colspan="6" class="uppercase text-center text-success">APPLICATION DETAILS</th>
                </tr>
                <tr>
                    <td colspan="2" rowspan="4" class="w-25">
                        <img class="img-fluid" src="{{ instance.image.url }}" />
                    </td>
                    <th>Apply Year</th>
                    <td>{{ instance.applyYear }}</td>
                    <th>Course</th>
                    <td>{{ instance.course }}</td>
                </tr>
                <tr>
                    <th class="min">name of Applicant </th>
                    <td>{{ instance.name }}</td>
                    <th class="min">Father's name of Applicant</th>
                    <td>{{ instance.fatherName}}</td>
                </tr>
                <tr>
                    <th >Aadhar No Applicant </th>
                    <td>{{ instance.aadharNo }}</td>
                    <th>Date of Birth </th>
                    <td>{{ instance.dob | date:"d M Y" }}</td>
                </tr>
                <tr>
                    <th class="min">Address of Applicant </th>
                    <td colspan="3">{{ instance.address }}</td>
                </tr>
                <tr>
                    <td class="w-25" colspan="2">
                        <img height="50px"src="{{ instance.signImage.url }}" />
                    </td>
                    <th >Mobile No Applicant </th>
                    <td>{{ instance.mobileNo }}</td>
                    <th>Email</th>
                    <td>{{ instance.email}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ instance.category}}</td>
                    <th>gender</th>
                    <td>{{ instance.gender}}</td>
                    <th>Registration No </th>
                    <td>18187{{ instance.id }}</td>
                </tr>
                <tr>
                    <th colspan="6" class="text-center text-success uppercase">ACCADMIC DETAILS</th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Examination</th>
                    <th scope="col">Passing Year</th>
                    <th scope="col">Roll No</th>
                    <th scope="col">Board / University</th>
                    <th scope="col">Marks</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>High School</td>
                    <td>{{ instance.highSchoole.highSchoolPassingYear }}</td>
                    <td>{{ instance.highSchoole.highSchoolRollNo }}</td>
                    <td>{{ instance.highSchoole.highSchoolBoard }}</td>
                    <td>{{ instance.highSchoole.highSchoolPercentageMarks }}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Intermediate</td>
                    <td>{{ instance.intermediate.intermediatePassingYear }}</td>
                    <td>{{ instance.intermediate.intermediateRollNo }}</td>
                    <td>{{ instance.intermediate.intermediateBoard }}</td>
                    <td>{{ instance.intermediate.intermediatePercentageMarks }}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ug / Diploma</td>
                    <td>{{ instance.ugOrDiploma.ugOrDiplompassingYear }}</td>
                    <td>{{ instance.ugOrDiploma.ugOrDiplomRollNo }}</td>
                    <td>{{ instance.ugOrDiploma.ugOrDiplomBoard }}</td>
                    <td>{{ instance.ugOrDiploma.ugOrDiplomPercentageMarks }}</td>
                </tr>
            </table>
        </div>
        {% if request.user.is_authenticated %}
        <div class="no-print mt-5 card">
            <div class="row">
                <div class="col-md-4">
                    {% if instance.highSchoole.highSchoolResultImage %}
                        <a target="_blank" href="{{ instance.highSchoole.highSchoolResultImage.url }}">
                            <img class="img-fluid" src="{{ instance.highSchoole.highSchoolResultImage.url }}"/>
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if instance.intermediate.intermediateResultImage %}
                        <a target="_blank" href="{{instance.intermediate.intermediateResultImage.url}}">
                            <img class="img-fluid" src="{{ instance.intermediate.intermediateResultImage.url }}"/>
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    {% if instance.ugOrDiploma.ugOrDiplomResultimage %}
                        <a target="_blank" href="{{instance.ugOrDiploma.ugOrDiplomResultimage.url}}">
                            <img class="img-fluid" src="{{ instance.ugOrDiploma.ugOrDiplomResultimage.url }}"/>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif%}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function(){
    setTimeout(function(){
        jQuery('#alert').slideUp(600);
    },3000)
    $('#print').click(function(){
        window.print();
    });
})
</script>
{% endblock %}