{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ instance.name|title }} Form{% endblock %}
{% block content %}
<div class="container">
    {% if instance.applicant %}
    <div id ="alert" class="alert alert-success text-center" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>you are successfully submit yor form futher informtion send on email.</p>
    </div>
    {% endif %}
    <div class="myCard mb-3">
        <div class="center border rounded">
            <img class="d-none pt-1 mx-auto d-md-block img-fluid" src="/media/img/logo.png" alt="fgiet logo"/>
            <p class="mt-1 text-success text-center"><b>APPLICATION FORM DETAILS ( session : 2018-2019 )</b></p>
        </div>
    </div>
    <div class="myCard">
        <div class="float-right mb-3">
            <button id="print" class="btn btn-primary">
                <img height="30" src="/media/img/printer.png" />
                Print Application
            </button>
        </div>
        <div class="table-responsive" id ="content">
            <table class="table table-bordered">
                <tr>
                    <th colspan="6" class="uppercase text-center text-success">APPLICATION DETAILS</th>
                </tr>
                <tr>
                    <td colspan="2" rowspan="5" class="w-25">
                        <img class="img-fluid" src="{{ instance.image.url }}" />
                    </td>
                    <th>Apply Year</th>
                    <td>{{ instance.applyYear }}</td>
                    <th>Course</th>
                    <td>{{ instance.course }}</td>
                </tr>
                <tr>
                    <th class="min">Registration No</th>
                    <td>{{ instance.registrationNo }}</td>
                    <th class="min">Apply At</th>
                    <td>{{ instance.timeStamp }}</td>
                </tr>
                <tr>
                    <th class="min">Applicant's Name </th>
                    <td>{{ instance.name|title }}</td>
                    <th class="min">Father's Name</th>
                    <td>{{ instance.fatherName|title }}</td>
                </tr>
                <tr>
                    <th >Aadhar No </th>
                    <td>{{ instance.aadharNo }}</td>
                    <th>Date of Birth </th>
                    <td>{{ instance.dob | date:"d M Y" }}</td>
                </tr>
                <tr>
                    <th class="min">Address </th>
                    <td colspan="3">{{ instance.address|truncatechars:76 }}</td>
                </tr>
                <tr>
                    <td class="w-25" colspan="2">
                        <img class="mw-100" height="45px"src="{{ instance.signImage.url }}" />
                    </td>
                    <th >Mobile No </th>
                    <td>{{ instance.mobileNo }}</td>
                    <th>gender</th>
                    <td>{{ instance.gender}}</td>
                </tr>
                <tr>
                    <th>Category</th>
                    <td>{{ instance.category}}</td>
                    <th>Email</th>
                    <td colspan="3">{{ instance.email}}</td>
                </tr>
                <tr>
                    <th colspan="6" class="text-center text-success uppercase">ACCADMIC DETAILS</th>
                </tr>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Examination</th>
                    <th scope="col">Passing Year</th>
                    <th scope="col">Board / University</th>
                    <th scope="col">Roll No</th>
                    <th scope="col">Marks</th>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>High School</td>
                    <td>{{ instance.hs.highSchoolPassingYear }}</td>
                    <td>{{ instance.hs.highSchoolBoard|truncatechars:36 }}</td>
                    <td>{{ instance.hs.highSchoolRollNo }}</td>
                    <td>{{ instance.hs.highSchoolPercentageMarks }}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Intermediate</td>
                    <td>{{ instance.inter.intermediatePassingYear }}</td>
                    <td>{{ instance.inter.intermediateBoard|truncatechars:36 }}</td>
                    <td>{{ instance.inter.intermediateRollNo }}</td>
                    <td>{{ instance.inter.intermediatePercentageMarks }}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ug / Diploma</td>
                    <td>{{ instance.ug.ugOrDiplompassingYear }}</td>
                    <td>{{ instance.ug.ugOrDiplomBoard|truncatechars:36 }}</td>
                    <td>{{ instance.ug.ugOrDiplomRollNo }}</td>
                    <td>{{ instance.ug.ugOrDiplomPercentageMarks }}</td>
                </tr>
                {% if instance.course == 'BTech' %}
                <tr>
                    <th colspan="6" class="text-center text-success">YOUR BRANCH PREFERANCES</th>
                </tr>
                <tr>
                    <th>#</th>
                    <td><b>1. </b>{{ instance.cbranch.first }}</td>
                    <td><b>2. </b>{{ instance.cbranch.second }}</td>
                    <td><b>3. </b>{{ instance.cbranch.third }}</td>
                    <td><b>4. </b>{{ instance.cbranch.fourth }}</td>
                    <td></td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% if request.user.is_authenticated %}
        <div class="no-print m-3 mt-5">
            <div class="row justify-content-around">
                {% if instance.hs.highSchoolResultImage %}
                <div class="col-md-4 card p-2">
                    <a target="_blank" href="{{ instance.hs.highSchoolResultImage.url }}">
                        <img class="img-fluid" src="{{ instance.hs.highSchoolResultImage.url }}"/>
                    </a>
                </div>
                {% endif %}
                {% if instance.inter.intermediateResultImage %}
                <div class="col-md-4 card p-2">
                    <a target="_blank" href="{{instance.inter.intermediateResultImage.url}}">
                        <img class="img-fluid" src="{{ instance.inter.intermediateResultImage.url }}"/>
                    </a>
                </div>
                {% endif %}
                {% if instance.ug.ugOrDiplomResultimage %}
                <div class="col-md-4 card p-2">
                    <a target="_blank" href="{{instance.ug.ugOrDiplomResultimage.url}}">
                        <img class="img-fluid" src="{{ instance.ug.ugOrDiplomResultimage.url }}"/>
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        {% endif%}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function(){
    setTimeout(function(){
        jQuery('#alert').slideUp(600);
    },3000)
    $('#print').click(function(){
        window.print();
    });
})
</script>
{% endblock %}